<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.product.dao.ProductMapper">
    <resultMap id="ProductResultMap" type="com.product.domain.Product">
        <id property="productCode" column="product_code" />
        <result property="productName" column="product_name" />
        <result property="categoryCode" column="category_code" />
        <result property="categoryName" column="category_name" />
        <result property="productDate" column="product_date" />
        <result property="unitPrice" column="unit_price" />
        <result property="operationYn" column="operation_yn" />
        <result property="manufactureAddress" column="manufacture_address" />
        <result property="productionDescription" column="production_description" />
        <result property="productImage" column="product_image" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>

    <!-- 제품 목록 조회 -->
    <select id="selectAllProduct" resultMap="ProductResultMap">
        SELECT
            p.product_code,
            p.product_name,
            c.category_code,
            c.category_name,
            p.product_date,
            p.unit_price,
            p.operation_yn,
            p.manufacture_address,
            p.production_description,
            p.product_image,
            p.created_at,
            p.updated_at
        FROM product p
                 JOIN product_category c ON p.category_code = c.category_code;
    </select>

    <!-- 제품명 검색 조회 -->
    <select id="selectProductsByName" resultMap="ProductResultMap" parameterType="String">
        SELECT
            p.product_code,
            p.product_name,
            c.category_code,
            c.category_name,
            p.product_date,
            p.unit_price,
            p.operation_yn,
            p.manufacture_address,
            p.production_description,
            p.product_image,
            p.created_at,
            p.updated_at
        FROM product p
                 JOIN product_category c ON p.category_code = c.category_code
        WHERE p.product_name LIKE CONCAT(#{productName},'%');
    </select>

    <!-- 제품 등록 -->
    <insert id="insertProduct" parameterType="com.product.domain.Product">
        INSERT INTO product
        (product_code, product_name, category_code, product_date, unit_price, operation_yn, manufacture_address, production_description, product_image)
        VALUES
            (#{productCode}, #{productName}, #{categoryCode}, #{productDate}, #{unitPrice}, #{operationYn}, #{manufactureAddress}, #{productionDescription}, #{productImage});
    </insert>

    <!-- 제품 수정 화면 조회 -->
    <select id="selectProductByCode" resultMap="ProductResultMap" parameterType="String">
        SELECT
            p.product_code,
            p.product_name,
            c.category_name,
            p.product_date,
            p.unit_price,
            p.operation_yn,
            p.manufacture_address,
            p.production_description,
            p.product_image,
            p.created_at,
            p.updated_at
        FROM product p
                 JOIN product_category c ON p.category_code = c.category_code
        WHERE p.product_code = #{productCode};
    </select>

    <!-- 제품 수정 -->
    <update id="updateProduct" parameterType="com.product.domain.Product">
        UPDATE product
        SET product_name = #{productName}, category_code = #{categoryCode}, product_date = #{productDate},
            unit_price = #{unitPrice}, operation_yn = #{operationYn}, production_description = #{productionDescription}, product_image = #{productImage}
        WHERE product_code = #{productCode};
    </update>

    <!-- 제품 삭제 -->
    <delete id="deleteProduct" parameterType="String">
        DELETE FROM product WHERE product_code = #{productCode};
    </delete>
</mapper>